body {
    background-color: #F7ECDE;
}

h1 {
    font-family: "Pacifico", cursive;

}

h1::after {
    content: "";
    background-color: #FEC260;
    position: absolute;
    width: 20%;
    height: 50%;
    top: 25px;
    bottom: 0;
    left: 40%;
    right: 0;
    z-index: -1;
    transition: all 350ms;
}

h1:hover::after {
    height: 75%;
    top: 15px;
    bottom: 0;
}

.bookmark-body {
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

.bookmark-body h2 {
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 300px) and (max-width: 1024px){
    h1 {
        text-align: center;
    }
    h1::after{
        width: 35%;
        height: 50%;
        top: 20px;
        bottom: 0;
        left: 34%;
        right: 0;
        z-index: -1;
        transition: all 350ms;    } 
        h1:hover::after{
            height: 80%;
            top: 5px;
            bottom: 0;
        }
    
} 